<template name="comment_form">
  {{#if canComment}}
    <div class="comment-new module">
      <div class="comment-user-info">
        <div class="user-avatar">{{>avatar userId=currentUserId class=""}}</div>
      </div>
      <div class="comment-form">
        <form>
          <div class="comment-field" id="editor">
            <textarea id="comment" rows="3" autofocus="autofocus"></textarea>
          </div>
          <div class="comment-submit">
            <input type="submit" class="button" value="{{i18n "Add Comment"}}" title="(⌘+enter)" />
          </div>
        </form>
      </div>
    </div>
  {{/if}}  
</template>
