<template name="comment_item">
  <li class="comment module comment-displayed" id="{{_id}}">
   <div class="comment-body">
      {{#if isDeleted}}
        <div class="comment-deleted">This comment has been deleted.</div>
      {{else}}
      <div class="comment-content">
        <div class="comment-user-info">
            <div class="user-avatar">{{>avatar userId=userId class=""}}</div>
            <div class="comment-actions {{#if upvoted}}upvoted{{else}}not-upvoted{{/if}} {{#if downvoted}}downvoted{{else}}not-downvoted{{/if}}">
              <a class="upvote" href="#">
                <i class="fa fa-chevron-up"></i>
              </a>
              <a class="downvote" href="#">
                <i class="fa fa-chevron-down"></i>
              </a>
            </div>
        </div>
        <div class="user-avatar">{{>avatar userId=userId class="circle"}}</div>
        <div class="comment-main">
          <div class="comment-meta">
            <a class="comment-username" href="{{profileUrl}}">{{authorName}}</a>&nbsp;
            <span class="comment-text markdown">{{{htmlBody}}}</span>

            <div>
              <span class="points">{{upvotes}} {{i18n "points"}}</span>
              • <span class="comment-time"><a href="/comments/{{_id}}" class="comment-permalink icon-link goto-comment">{{ago}}</a></span>
              {{#if can_edit}}
                • <a class="edit-link" href="/comments/{{_id}}/edit">{{i18n "Edit"}}</a>
              {{/if}}
              {{#if getSetting "nestedComments" true}}
                • <a href="/comments/{{_id}}" class="comment-reply goto-comment">{{i18n "Reply"}}</a>
              {{/if}}
              {{#if currentUser.isAdmin}}
                • <span>{{full_date}}</span>
              {{/if}}
            </div>
            <a class="comment-username" href="{{profileUrl}}">{{authorName}}</a>
            <span class="comment-time">{{ago}},</span>
            <span class="points">{{upvotes}}</span> <span class="unit">points </span>
            <a href="/comments/{{_id}}" class="comment-permalink icon-link goto-comment">{{i18n "link"}}</a>
            {{#if can_edit}}
              | <a class="edit-link" href="/comments/{{_id}}/edit">{{i18n "Edit"}}</a>
            {{/if}}
            {{#if isAdmin}}
              | <span>{{full_date}}</span>
            {{/if}}
          </div>
        </div>
      </div>
      {{/if}}
      {{#if showChildComments}}
        <ul class="comment-children comment-list">
        {{#each child_comments}}
          {{#with this}}
            {{> UI.dynamic template=comment_item}}
          {{/with}}
        {{/each}}
        </ul>
      {{/if}}
    </div>
  </li>
</template>
