<template name="postContent">
  <div class="post-info">
    <h3 class="post-heading">
      <a href="{{postLink}}" class="post-title-link" target="{{postTarget}}">
        {{#each postHeading}}
          {{> UI.dynamic template=getTemplate data=..}}
        {{/each}}
      </a>
    </h3>
    <div class="post-excerpt">
      {{#each postExcerpt}}
        {{> UI.dynamic template=getTemplate data=..}}
      {{/each}}
    </div>
    <!--<div class="post-meta">-->
      <!--{{#each postMeta}}-->
        <!--{{> UI.dynamic template=getTemplate data=..}}-->
      <!--{{/each}}-->
    <!--</div>-->
  </div>
</template>